<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipe Book</title>
</head>

<body>
	<header>
		<nav>
			<a href="/recipes/list">
				<h1>Recipe Book</h1>
			</a>
			{% if request.user.is_authenticated %}
				<form action="{% url 'logout' %}" method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Logout</button>
				</form>
			{% else %}
				<a href="{% url 'login' %}">Login</a>
			{% endif %}
		</nav>
	</header>
	<main>
		<h2>{% block title %}{% endblock %}</h2>
		{% block content %}
		{% endblock %}
	</main>
</body>

</html>
